.main-projects {
    min-height:800px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__info {
        align-self: flex-start;
    }
    // &__slider {
    //     // display: flex;
    //     // flex-wrap: wrap;
    // }
    .check {
        margin-top:200px;
    }
}


// .main-projects {
//     min-height:500px;
//     &__info {
//         // position: relative;
//         // flex-grow:1;
//         // max-width:800px;
//         // height: 500px;
//         // flex-direction: row;
//         // align-self:flex-start;
//     }
//     // &__slider {
//     //     // display: flex;
//     //     // flex-wrap: wrap;
//     // }
//     .check {
//         margin-top:200px;
//     }
// }