._container-slider {
    margin: 0 auto;
    width: 80%;
}

.main-projects {
    min-height:500px;
    display: flex;
    flex-wrap:wrap;

    &__slide {
        width: 100%;
        align-self: flex-start;
    }
    &__info {
        flex-grow: 1;
        align-items: stretch
    }
}