.main-projects {
    margin: 0 auto;
    min-height:580px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;

    &__slide {
        width: 1100px;
    }

    //media
    .slider-cards {
        //for block positioning
        padding-left:48px;
        flex: 1;
        min-width: 312px;

        //for cards inside
        transition: opacity ease-in-out 0.4s;
        display:flex;
        flex-wrap:wrap;
    }
    @media screen and (max-width: 1779px) {
        .slider-cards {
            padding-left: 0px;
        }
        .main-projects__slide {
            width: 100%;
        }
    }
    @media screen and (max-width: 799.98px) {
        .main-projects__slide {
            max-height: 370px;
        }
    }
    
}