
.main-about {
    &__text-title {
        margin-top:34px;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 28px;
    }
    &__border {
        margin:24px 0 24px 0;
        border: 1px solid black;
    }

    &__info {
        min-height: 384px;
        background-size: cover;
    }
}

@media screen and (max-width: 799.98px) {
    .main-about__border {
        margin:20px 0 0px 0;
    }
    .main-about__text-title {
        margin-top:20px;
    }
}