%dt {
    margin-top: 11px;
    margin-right:4px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.main-about-cards {
    display:flex;
    flex-wrap:wrap;
    margin: 0 -20px;

    .section__first-withdot {
        margin-top:-6px;
    }
    .section__second-withdot {
        margin-top:-6px;
    }
    &__section {
        display: flex;
        .dot {
            align-self:baseline;
            margin-top:20px;
        }
        &-dots {
            display: flex;
            margin-left: 16px;
        }
        &-container-dots {
            &-ru {
                margin-top:12px;
                padding-left: 16.5px;
            }
            &-eng {
                margin-top:12px;
                padding-left: 20px;
            }
        }

        &-white-dot {
            @extend %dt;
            background-color: white;
        }
        &-black-dot {
            @extend %dt;
            background-color: black;
        }

        &-hobbies {
            margin-top:24px;
            text-align: center;
        }
    }

    &__division-chapters {
        display: flex;
        justify-content: space-around;
    }
    .cards__division-second {
        margin-top:26px;
    }
    .chapter-hobby-division-second {
        margin-left: 10px;
    }

    &__chapter-hobby {
        margin-top:12px;
        &-link:focus, &-link:hover, &-link:active {
            transition: 0.2s linear;
            opacity: 0.5;
            & p {
                transition: 0.2s linear;
                opacity: 0.5;
            }
        }
    }

    &__personal,&__education,&__hobies,&__socials {
        margin: 0 20px;
        margin-top:24px;
        background: #679FB2;
        border-radius: 10px;
        flex-grow: 1;
        width:300px;
        //cards height
        height:384px;
    }
    &__text-personal, &__text-education, &__text-hobies, &__text-socials {
        font-family: 'Montserrat';
        font-size: 23px;
        margin: 0 auto;
        width: 80%;
    }
    &__text-personal,&__text-education {
        // margin-top:px;
        p {
            padding-top:18px;
        }
    }

    &__text-title {
        margin-top:24px;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 26px;
    }
    &__border {
        margin: 0 auto;
        margin-top:18px;
        width: 80%;
        border: 1px solid black;
    }

    &__image-hobbies {
        height: 80px;
        width: 80px;
    }
    &__text-hobbies {
        margin-top:4px;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 22px;
    }


}