@import '../src/components/sass/reset.scss';

html {
    overflow-x: hidden !important;
}

.fadeIn {
    -webkit-animation: fadeIn 500ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeIn 500ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    position: relative;
    background: #fff;
    width: 100vw !important;
    overflow-x: hidden !important;
    overflow-y:auto;
    z-index: 5;
}
.components {
    width: 100%;
}

._container {
    margin: 0 auto;
    width: 80%;
}
.__container {
    margin: 0 auto;
    width: 80%;
}

@media screen and (max-width: 799.98px) {
    .__container {
        width: 100%;
    }
}