%dt {
    margin-top: 11px;
    margin-right:4px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
%bord {
    border: 1px solid rgba(34, 34, 34, 0.287);
}
/* create media */
.container-slider {
    display: flex;
    @extend %bord;
    margin-top:24px;
    align-self: start;
    border-radius: 10px;
    flex-grow: 1;
    height: 500px;  
    position: relative;
    overflow: hidden;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.active-anim {
    opacity: 1;
}

.btn-slide {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: white;
    @extend %bord;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & img {
        width: 20px;
        height: 20px;
        pointer-events: none;
    }
    &:focus,&:hover,&:active {
        transition: 0.2s linear;
        opacity:0.8;
    }
}

.prev {
    top: 50%;
    left: 10px;
    transform: translateY(-60%);
}
.next {
    top: 50%;
    right: 10px;
    transform: translateY(-60%);
}

.container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slidedot {
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    margin: 0 5px;
    background: #fff;

    &.active {
        background: rgb(32, 32, 32);
    }
}

//cards
.slider-cards {
    display:flex;
    flex-wrap:wrap;

    &__section {
        display: flex;

        .dot {
            align-self:baseline;
            margin-top:20px;
        }
    }

    &__projects-info {
        margin-top:24px;
        background: #679FB2;
        border-radius: 10px;
        //cards height
        width: 100%;
        min-height:264px;
    }
    &__text-for-slider {
        font-family: 'Montserrat';
        font-size: 23px;
        margin: 0 auto;
        width: 80%;
    }
    &__text-for-slider {
        // margin-top:px;
        p {
            padding-top:18px;
        }
    }

    &__text-title {
        margin-top:24px;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 26px;
    }
    &__border {
        margin: 0 auto;
        margin-top:18px;
        width: 80%;
        border: 1px solid black;
    }

}